<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#fafafa">
</head>

<body>
  <style>
    .long {
      height: 205vh;
      background-color: azure;
    }
  </style>
  <div class="long"> long </div>
  <div id="lazyBody">
    <div id="lazy"> lazy</div>
  </div>
  <script src="static/intersection-observer.js"></script>
</body>

</html>